# Loops

## (1)while loop
## (2)for loop
## (3)nested loop
## (4)loop control statements

## (1)While loop
### syntax:
#### while condition:                           #compulsory
####    statement_1
####    statement_2
#### else:                                     #optional
####    statements

## Example_1=printing name 15 times

In [4]:
#printing name 15times
count =1
while count<=15:
    print('sanika',end=' ')
    count=count+1

sanika sanika sanika sanika sanika sanika sanika sanika sanika sanika sanika sanika sanika sanika sanika

In [3]:
count

16

## Example_2=printing 1 to 5

In [5]:
#print 1 to 5
i=1
while i<=5:
     print(i)
     i=i+1

1
2
3
4
5

## Example_3=print odd no

In [5]:
#end excep sequence seperator
i=1
while i<=20:
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19

## Example_4=Addition of first 10 numbers

In [7]:
#addition of all
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

## Example_5=Addition of all odd from 1 to 20

In [8]:
#addition of all odd from 1 t0 20
i=1
sum=0
while i<=20:
    
    sum=sum+i
    i=i+2
print(sum)

100

## Example_6=factorial of 5

In [9]:
#factorial of 5
i=1
fact=1
while i<=5:
    fact=fact*i
    i=i+1
print(fact)

120

## Example_7=find factorial of a number take user input.

In [11]:
#factorial of 5
i=int(input('enter no for calculating factorial='))
fact=1
while i>=1:
    fact=fact*i
    i=i-1
print(fact)

enter no for calculating factorial= 5

120

## Example_8=find addition of all the digit of a number

In [14]:
# find addition of all the digit of a no
num=int(input('enter no for calculating factorial='))
sum=0
while num>0:
    dig=num%10
    sum=sum+dig
    num=num//10
print(sum)

enter no for calculating factorial= 54321

15

# more about while loop
### an infinite loop
### the else statement for while loop
### single statement while
### example=

In [ ]:
#infinite loop
'''
  count=1
  while count<=15:          ( while true:)
    print('a')
'''

In [1]:
#else
#factorial of 5
i=int(input('enter no for calculating factorial='))
fact=1
while i>=1:
    fact=fact*i
    i=i-1
else:
    print(fact)

enter no for calculating factorial= 5

120

In [2]:
# single statement while
num=0
while num<10:print(num);num+=1

0
1
2
3
4
5
6
7
8
9

# (2)For loop
### iterate over a sequence or collection of items
### for loop uses in keyword in python
## Syntax=
## for n in sequence:          
##      statements
 #n:variable    #sequence:collection of elements

# while vs for loop

## while loop
#### (1)can have condition for iteration
#### (2)the counter can be increamented or decreamented by any number
#### (3)the loop is infinite
## for loop
#### (1)Dont have any loop condition for iteration
#### (2)the loop iterate through sequence by one increament only
#### (3)the loop cant be infinite

### same sequence

In [15]:
#for loop
for n in 10,20,30,40,50:
    print(n)

10
20
30
40
50

## operation on sequence

In [1]:
#
for n in 10,20,30,40,50:
    print(n/2)

5.0
10.0
15.0
20.0
25.0

## mixed sequence

In [2]:
for n in 10,20,30,40,50,45.899,'sanika':
    print(n)

10
20
30
40
50
45.899
sanika

# more about for loop
### the range() function
### iterating on list or similar constructs
### iterating on indices of a list or a similar construct
### the else statement for for loop

## (1)range function
### Syntax=
# range(start,end+1,step)
#create a sequence from start to end increament/decreaments by step

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(5,16))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### increament range()  function

In [4]:
list(range(5,16,2))          #step(+)

[5, 7, 9, 11, 13, 15]

### decreament range()  function

In [6]:
list(range(23,1,-1))          #step(-)

[23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

In [10]:
#add odd numbers upto 20
sum=0
for n in range(1,21,2):
    sum=sum+n
print(sum)

100

### (2)iterating on list or similar constructs

In [11]:
#iterating on string
for n in 'sanika':
    print(n)

s
a
n
i
k
a

In [12]:
#iterating on sequences of string
for n in 'sanika','jfj':
    print(n)

sanika
jfj

### (3)iterating on indices of a list or a similar construct

In [5]:
#iterating on list
l1=[10,20.45,'sanika']
for i in l1:
    print(i)

10
20.45
sanika

### (4)the else statement for for loop

In [6]:
sum=0
for i in range(1,11,1):
    sum+=i
else:
    print(sum)

55

## Example_1=printing sanika 10 times

In [8]:
 for n in range(10):
    print('sanika',end=' ')

sanika sanika sanika sanika sanika sanika sanika sanika sanika sanika

## Example_2=finding squear of first 5 numbers

In [7]:
for n in range(6):
    print(n**n)

1
1
4
27
256
3125

## Example_3=sum up to 10

In [ ]:
sum=0
for n in range(11):
    sum=sum+n
print(sum)

## Example_4=add odd numbers upto 20

In [ ]:
sum=0
for n in range(1,21,2):
    sum=sum+n
print(sum)

## Example_5=find factorial of number

In [14]:
# find factorial of number
no=int(input('enter no='))
fact=1
for n in range(no,1,-1):
    fact=fact*n
    
print(fact)

enter no= 5

120

In [15]:
##### break
for n in range(1,11):
    if n==5:
        break
    print(n)

1
2
3
4

# (3)Nesting of loops

In [15]:
rows=int(input('enter no of rows='))
for i in range(1,rows+1):
    for j in range(i):
        print('*',end=' ')
    print()

enter no of rows= 5

*
* *
* * *
* * * *
* * * * *


# loop control statements
## (1) break
## (2) continue
## (3) pass

# (1)break
#### break statements in loop stop further execution and control shift to the statement after for/ while loop
#### Example=

In [16]:
n=1
while n<=10:
    
    if n==5:
        break
    print(n)
    n=n+1

1
2
3
4

In [17]:
n=1
while n<=10:
    print(n)
    if n==5:
        break
   
    n=n+1

1
2
3
4
5

## (2)continue
#### when control reaches continue statement, it skip the statements after 'continue ' and shift the control to further iteration
### Exammple=

In [8]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

# (3)Pass
#### uesd to implement stubs 
#### used when we dont know what goes in it
#### null statement
#### interpreter does not ignore it but it perform non-opration
#### used to fill indent space

In [14]:
i=int(input('enter a number to check whether it is +ve/=ve='))
while i<10:
    if i==0:
        pass
    i+=1

enter a number to check whether it is +ve/=ve= 0